.light-theme {
  background-color: #ffffff; /* установка фона для светлой темы */
  color: #000000; /* установка цвета текста для светлой темы */
}

.dark-theme {
  background-color: #1a1a1a; /* установка фона для темной темы */
  color: #ffffff; /* установка цвета текста для темной темы */
}
